*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'poppins', sans-serif;
}


body {
 line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* default regular weight */
  color: #333; /* optional: good default text color */
}

.header-section{
    width:100%;
    min-height:40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
}

.logo{
    font-weight: 700;
    /* font-size:10px; */
    width:20px;
    color: #00b050;
    
}


.nav a{
     color: green;
      font-size:20px;
      text-decoration: none;
      padding:20px 20px; 
      gap: 2rem;
      transition: 0.3s ease;
      /* margin-left: 30px; */
    
      
}

/* hamburger */
.hamburger{
    display: none;
    cursor: pointer;
    flex-direction: column;

}
.hamburger span{
    width:25px;
    height:3px;
    background-color:black;
    border-radius:3px;
    margin:4px 0 ;
    transition:0.3s;

    
}

.close-btn{
    display: none; /*its hidden on big screens */
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    right:20px;
    top:-10px;
    color: black;
}


@media (max-width:800px){
    .nav{
        flex-direction: column;
        position:absolute;
        padding:20px 0;
        gap: 1rem;
        width:100%;
        top:70px;
         left:-100%; /*hidden*/
        align-items:center;
        background: #555;
        transition: left 0.4s ease;
    }

    .nav a{
        color: black;
        font-size: 15px;
        padding:10px;
    }

    .hamburger{
        display: flex;
    }

    .nav.active{
         left:0; /*visible*/
    }
}

@media (max-width:800px){
     .close-btn{
        display: block; /*its seen on small screens */
    }
}







.hero-section{
    background-image:url(images/fast-food-500x500.webp) ;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* color: #00b050; */
    text-align: center
}


h1 {
    font-weight: 700;
    font-size: 50px;
    color: white;
    text-align: center;
}

p
{
    font-size: 15px;
    color: white;
    padding-top: 10px;
    font-weight: 600;
    text-align: center;
}

button{
    /* padding: 40px, 20px; */
    font-size: 20px;
    color: white;
    background-color: green;
    border-radius: 12px;
    border-style: none;
    width:200px;
    height:50px;
    margin-top: 2%;
   cursor:pointer;
   /* transition:3s ease-in; */
    

}

button:hover{
   background-color:white ;
   color:green;
}



/* about section */
.about-section{
    padding:40px 20px;
    background-color: #fff;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 700; /* bold */
}

.about-section p {
    font-weight: 300; /* light */
    color: grey;
    font-size: 1rem;
}


.about-section h2{
color:green;
font-size:2rem;
margin-bottom:2%;
}

.about-section h3{
    font-size: 1.2rem;
    margin-top: 2%;
}

.about-section-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
   
}

.about-section-card{
   /* transition: all 3s ease-in; */
    box-shadow:0 4px 6px rgba(0,0,0,0.05) ;
    width:300px;
 background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 30px 20px;

}

.card:hover{
   transform: translateY(-5px); 
   box-shadow: 0 8px 15px rgba(0,0,0,0.1); ;
}


.card h3 {
  color: #2e8b57;
  margin-bottom: 10px;
  font-weight: 600;
}

.card p {
  font-size: 1rem;
  color: #555;

}

@media(max-width:1448px){
    .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
   
}

.card{
   /* transition: all 3s ease-in; */
    box-shadow:0 4px 6px rgba(0,0,0,0.05) ;
    width:350px;
 background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 30px 20px;

}

}



@media (max-width: 768px){
    .cards{
       flex-direction:column;
       align-items: center;
    }

    .card{
        width:350px;
    }



}

/* Menu section */

.menu-section{
    background-color: #f8f9f8;
    padding:20px 30px;
    align-items: center;
    
}

.menu-section h2{
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    color: green;
}

.menu-intro{
    color: green;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 5%;
}
.menu-section-content{
    grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
    display: grid;
    gap: 1rem;
    justify-items: center;

}
.meal-image {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    background-color: white;
    box-shadow:0 4px 10px rgba(0,0,0,0.05) ;
    overflow: hidden;
}

.meal-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.meal-image:hover{
    transform: scale(1.05);
}

.meal-image p{
    color: green;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5%;
}

/* pricing-section  */

.pricing{
    background-color: #f8f8f8;
    padding: 30px 40px;
    text-align: center;   
}

.pricing-cards{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; 
}


.pricing-card {
  background-color: white;
  border-radius: 12px;
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.pricing-card:hover {
  transform: translateY(-10px);
}

.pricing h2{
      color: green;
    font-size: 3rem;
    font-weight: 500;
    padding-top: 5%;
    text-align: center;
}

.plans-intro{
    color: green;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 5%;
}


.pricing-card p{
    color: green;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-top: 5%;
}

.pricing-button{
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: green;
    border-radius: 12px;
    border-style: none;
    width:150px;
    height:50px;
    margin-top: 5%;
   cursor:pointer;
   align-items: center;
   /* padding: 20px 40px; */
   /* padding: 1rem; */
   

}

.pricing-button:hover{
   background-color:white ;
   color:green;
}


/* footer section */

.contact{
    text-align: center;
    padding:10px;
    background-color: green;
}
.contact-info h2{
      color: white;
    font-size: 3rem;
    font-weight: 500;
    padding-top: 2%;
    text-align: center;
}
  
.contact-info p{
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    margin-top: 2%;
}


.contact-details{
    color: white;
    font-size:0.8rem;
    font-weight: 300;
    text-align: center;
     margin-top: 2%;
}




@media (max-width:800px){
h1{
font-size:2rem;
}


.about-section h2{
    font-size: 2rem;
}

.menu-section h2{
   font-size: 2rem;
}

.pricing h2{
    font-size: 2rem;
}


.contact-info h2  {
    font-size: 2rem;
    
}

.contact-map h2{
    font-size: 2rem;
}


.about-section p{
    font-size:0.9rem;
}

}








@media (max-width:480px){
h1{
font-size:1.3rem;
}


.about-section h2{
    font-size: 1.2rem;
}

.menu-section h2{
   font-size: 1.2rem;
}

.pricing h2{
    font-size:1.2rem;
}


.contact-info h2  {
    font-size: 1.2rem;
    
}

.contact-map h2{
    font-size: 1.2rem;
}
}